{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="/css/admin.css"  rel="stylesheet">
<link href="/css/move.css"  rel="stylesheet">
{% endblock %}
{% block title %}admin moveshow{% endblock %}

{%  block body %}

<main>
  <h1 class="mt-3 mb-3">Modifier un mouvement</h1>
    <div class="move_block mt-4">
            <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Mail</th>
          <th scope="col">Supprimer/Modifier</th>
        </tr>
      </thead>
      {% for moves in move %}
      <tbody>
        <tr class="table-light">
          <td>{{ moves.name }}</td>
          <td>{{ moves.resume | striptags | truncate(120, true) }}</td>
          <td>{{ moves.difficulte }}</td>
          <td>
                <a href="{{ path('deleteMove', {'id': moves.id})}}" class="icon_del" onclick="return confirm('sure to delete')"><i class="fas fa-trash-alt fa-2x ml-2"></i></a>
                <a href="{{ path('move_edit', {'id': moves.id})}}" class="icon_ed"><i class="fas fa-edit fa-2x ml-4"></i></a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table> 
    </div>
</main>

{% endblock %}

{% block javascripts %}
<script>
$( "#btn_user" ).click(function() {
  $( ".user_block" ).slideToggle( "slow" );
  $('.move_form').hide('slow');
});

$( "#btn_move" ).click(function() {
  $( ".move_form" ).slideToggle( "slow" );
  $('.user_block').hide('slow');
});
</script>

{% endblock %}
